h2{
    font-family: "Times New Roman";
    color: rgb(60, 43, 127);
    text-align: center;
}
body{
    background: linear-gradient(to right,#088282,#193570,#708090);
    font-family:"Times New Roman" ;
    font-size: 15pt;color: rgb(9, 9, 69);
}
.wrap{
    width: 40%;
    background: linear-gradient(to right,#00FFFF,#9932CC);
    margin: auto;
}
.container{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
}
button{
    background-color: #964ff1;
}


#btn{
    position: absolute;
    left: 92%;
    top: 93%;
    background-color: #3171fa;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
#btn:hover{
    background-color: transparent;
    border: 2px solid #3171fa;
    cursor: pointer;
}
h4{
    text-align: none ;
    color: black;
    font-weight: bold;
}